<div class="container-fluid">
  <ul class="nav justify-content-center navbar-custom">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cuerdas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vientos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Teclados</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Percusión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Regresar</a>
      </li>
  </ul>
</div>

