
<div class="sidebar">
    <app-sidebar></app-sidebar>
</div>

<div class="main-content">

    <div class="title">
        <h1>Gestionar Categorias</h1>
    </div>

    <div class="menu">
        <button type="button" class="btn btn-success" routerLink="/crear-categorias">Crear</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let categoria of listCategorias">
                <td>{{categoria.nombre}}</td>
                <td>{{categoria.descripcion}}</td>
                <td><i class="bi bi-pencil-square" [routerLink]="['/editar-categorias', categoria._id]"></i></td>
            </tr>
        </tbody>
    </table>
</div>