<app-navbar></app-navbar>


<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let producto of listProductos" class="col">
      <div class="card">
        <img src="{{producto.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre}} {{producto.codigo}}</h5>
          <p class="card-text">Precio: S/.{{producto.precio}}. Categoria: {{producto.categoria}}. Marca:{{producto.marca}}.</p>
        </div>
      </div>
    </div>
</div>
