<div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  
  <div class="main-content">
    <h1>Editar Categoria</h1>
    <form [formGroup]="categoriaForm" (ngSubmit)="editarCategoria()" id="categoriaForm">
      <div class="mb-3">
        <label for="nombreCategoria" class="form-label">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" id="nombreCategoria"
          placeholder="Ingrese el nombre de la categoria" required>
        <div class="text-danger" 
        *ngIf="categoriaForm.get('nombre')?.hasError('required') && categoriaForm.get('nombre')?.touched">
          <span>El nombre de la categoria es obligatorio</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="descripcionCategoria" class="form-label">Descripcion</label>
        <textarea class="form-control" id="descripcionCategoria" formControlName="descripcion" rows="3"></textarea>
        <div class="text-danger" 
        *ngIf="categoriaForm.get('nombre')?.hasError('required') && categoriaForm.get('nombre')?.touched">
          <span>La descripcion es necesaria</span>
        </div>
      </div>
      <div class="footer">
        <button type="button" class="btn btn-secondary" routerLink="/categorias">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="categoriaForm.invalid" form="categoriaForm">Aceptar</button>
      </div>
    </form>
  </div>