<div class="offcanvas offcanvas-start show text-bg-dark" tabindex="-1" id="offcanvasDark" aria-labelledby="offcanvasDarkLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasDarkLabel">MelodyTech</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvasDark" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            <a class="list-group-item" routerLink="">Inicio</a>
            <a class="list-group-item" routerLink="/productos">Productos</a>
            <a class="list-group-item" routerLink="/categorias">Categorias</a>
            <a class="list-group-item" routerLink="/cliente">Vista Cliente</a>
        </ul>
    </div>
  </div>