.sidebar {
    width: 25%; /* Ancho del sidebar, ajusta según tu diseño */
    float: left; /* Hace que el sidebar flote a la izquierda */
}
  
.container {
    margin-left: 25%; /* Deja espacio a la izquierda para el sidebar */
    padding: 20px; /* Añade un espacio entre el sidebar y la tabla */
}
  