<div class="sidebar">
  <app-sidebar></app-sidebar>
</div>

<div class="main-content">
    <div class="seccion-bienvenida">
      <h1>Bienvenido al menú de trabajador</h1>
      <p>Aquí podrás gestionar tus productos, marcas y categorías.</p>
      <p>Además tienes una opción de ver el catálogo, tal cual lo ve el cliente para mejorar la estructura de la información.</p>
    </div>

    <div class="info-general">

      <div class="seccion-rapida">
        <h2>Acciones Rápidas</h2>
        <div class="action-buttons">
          <div class="action-button">
            <a routerLink="/agregar-productos" class="btn btn-primary">Agregar Nuevo Producto</a>
          </div>
          <div class="action-button">
            <a routerLink="/marcas" class="btn btn-primary">Ver Todas las Marcas</a>
          </div>
          <div class="action-button">
            <a routerLink="/categorias" class="btn btn-primary">Ver Todas las Categorías</a>
          </div>
          <div class="action-button">
            <a routerLink="/cliente" class="btn btn-primary">Ver Vista del Cliente</a>
          </div>
        </div>
      
      <div class="seccion-noticias">
        <h2>Noticias</h2>
        <p>¡Nuevo diseño de catálogo para la vista del cliente disponible! Asegúrate de verificar cómo se ve desde su perspectiva.</p>
      </div>

    </div>
    
</div>
  